<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyuefeng.account.dao.AccountDAO">

  <select id="getAccountMoney" resultType="java.lang.Integer">
    select money from account_tbl where user_id = #{userId}
  </select>

  <update id="updateAccount" parameterType="com.wuyuefeng.account.model.Account">
    UPDATE account_tbl set money = #{money} where user_id = #{userId}
  </update>



</mapper>